# Python 전처리
> 결측치 대체 등 전처리 관련 공부

- toc: true 
- badges: true
- comments: true
- categories: [jupyter, Python]
- image: images/chart-preview.png

In [1]:
import pandas as pd #판다스 패키지 불러오기
from sklearn.linear_model import LogisticRegression # 로지스틱 회귀 모델 불러오기
from sklearn.tree import DecisionTreeClassifier # 의사결정 나무 모델 불러오기

In [2]:
 # 데이터 불러오기
train = pd.read_csv('G:\내 드라이브\Github\Dacon-practice\타이타닉 생존자 예측/train.csv') # 모델 학습 파일
test = pd.read_csv('G:\내 드라이브\Github\Dacon-practice\타이타닉 생존자 예측/test.csv') # 모델 시험지 파일
sub = pd.read_csv('G:\내 드라이브\Github\Dacon-practice\타이타닉 생존자 예측/sample_submission.csv') #답안지 파일

# 3. 데이터 전처리
# Data Cleansing & Pre-Processing

pd.Series.isna()
- 결측치 여부를 확인해준다.
- 결측치면 True 아니면 False

In [3]:
train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

pd.DataFrame.fillna()
- 결측치를 채우고자 하는 column과 결측치를 대신하여 넣고자 하는 값을 명시.
- 범주형 변수일 경우 최빈값으로 대체 가능.

In [4]:
train['Age'].median()

28.0

In [5]:
train['Age'] = train['Age'].fillna(28)

In [6]:
train['Embarked'].value_counts() # 문자열

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [7]:
train['Embarked'] = train['Embarked'].fillna('S')

In [8]:
train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

pd.Series.map()
- 시리즈 내 값을 변환할 때 사용하는 함수
- 문자열의 경우 숫자형으로 대체해주어야함. 모델에 넣기위해서

In [11]:
train = train['Sex'].map({'male' : 0, 'female' : 1})